In [13]:
import import_files as MrtRecommendationDependencies
from ridership_transformer import RidershipTransformer
from ridership_cleaner import RidershipCleaner
from database import TrainUpdate
import pandas as pd

In [3]:
months = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"]

stations = ['north','qave','kamuning','cubao','santolan','ortigas','shaw','boni','guada','buendia','ayala','magallanes','taft']

In [10]:
cleaner = RidershipCleaner("~/Downloads/test.xlsx")
for station in stations:
    cleaned_df = cleaner.clean_months(station,months,save_csv=True)
    transformer = RidershipTransformer(cleaned_df)
    transformed_df = transformer.transform()
    transformer.save_csv(f"{station}_transformed.csv")

/Users/karl-potenciano/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/north.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/north_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/qave.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/qave_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/kamuning.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/kamuning_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/cubao.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/cubao_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/santolan.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/santolan_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/ortigas.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/ortigas_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/shaw.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/shaw_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/boni.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/boni_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/guada.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/guada_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/buendia.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/buendia_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/ayala.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/ayala_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/magallanes.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/magallanes_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/taft.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/taft_transformed.csv

In [14]:
query = TrainUpdate.filter(TrainUpdate.datetime != None)
train_updates = pd.read_sql(query.statement, query.session.bind)

In [17]:
train_updates.fillna(0,inplace=True)

In [18]:
train_updates.drop('tweet_id', axis=1, inplace=True)

In [19]:
train_updates.head()

,datetime,num_train_running,num_train_operational,num_dalian_train_running,num_dalian_train_operational,headway
0,2018-07-01 19:00:00,12,13.0,0.0,0,8.5
1,2018-07-02 05:00:00,8,8.0,0.0,0,8.0
2,2018-07-03 05:00:00,7,7.0,0.0,0,8.0
3,2018-07-02 18:00:00,15,15.0,0.0,0,7.0
4,2018-07-04 05:00:00,9,9.0,0.0,0,8.0

In [ ]:
MrtRecommendationDependencies.get_dataset_path()