In [2]:
import import_files as MrtRecommendationDependencies
from ridership_transformer import RidershipTransformer
from ridership_cleaner import RidershipCleaner
from database import TrainUpdate
import pandas as pd

In [18]:
months = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"]

stations = ['north','qave','kamuning','cubao','santolan','ortigas','shaw','boni','guada','buendia','ayala','magallanes','taft']

In [10]:
cleaner = RidershipCleaner("~/Downloads/test.xlsx")
for station in stations:
    cleaned_df = cleaner.clean_months(station,months,save_csv=True)
    transformer = RidershipTransformer(cleaned_df)
    transformed_df = transformer.transform()
    transformer.save_csv(f"{station}_transformed.csv")

/Users/karl-potenciano/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/north.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/north_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/qave.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/qave_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/kamuning.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/kamuning_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/cubao.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/cubao_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/santolan.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/santolan_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/ortigas.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/ortigas_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/shaw.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/shaw_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/boni.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/boni_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/guada.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/guada_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/buendia.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/buendia_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/ayala.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/ayala_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/magallanes.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/magallanes_transformed.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/taft.csv
Dataframe saved to /Users/karl-potenciano/Sites/mrt-recommender/data/datasets/taft_transformed.csv

In [3]:
query = TrainUpdate.filter(TrainUpdate.datetime != None)
train_updates = pd.read_sql(query.statement, query.session.bind)

In [17]:
train_updates.fillna(0,inplace=True)

In [18]:
train_updates.drop('tweet_id', axis=1, inplace=True)

In [19]:
train_updates.head()

,datetime,num_train_running,num_train_operational,num_dalian_train_running,num_dalian_train_operational,headway
0,2018-07-01 19:00:00,12,13.0,0.0,0,8.5
1,2018-07-02 05:00:00,8,8.0,0.0,0,8.0
2,2018-07-03 05:00:00,7,7.0,0.0,0,8.0
3,2018-07-02 18:00:00,15,15.0,0.0,0,7.0
4,2018-07-04 05:00:00,9,9.0,0.0,0,8.0

In [22]:
filename = MrtRecommendationDependencies.get_dataset_path("train_status.csv")

In [23]:
train_updates.to_csv(filename, index=False)

In [6]:
weather_df = pd.read_csv(MrtRecommendationDependencies.get_dataset_path("weather_filtered.csv"), parse_dates=['datetime'], index_col="datetime")

In [9]:
station = 'north'
transformed_df = pd.read_csv(MrtRecommendationDependencies.get_dataset_path(f"{station}_transformed.csv"), parse_dates=['datetime'], index_col="datetime")

In [10]:
new_df = transformed_df.join(weather_df, how='right')

In [12]:
new_df.fillna(0,inplace=True)

In [13]:
new_df.head()

,entry,exit,temp,humidity,rain_1h,rain_3h,weather_main
datetime,,,,,,,
2018-07-01 00:00:00,0.0,0.0,27.89,84,0.21,0.0,Rain
2018-07-01 01:00:00,0.0,0.0,27.91,84,0.11,0.0,Rain
2018-07-01 02:00:00,0.0,0.0,29.51,72,0.00,1.0,Rain
2018-07-01 03:00:00,0.0,0.0,29.87,72,0.00,1.0,Rain
2018-07-01 04:00:00,631.0,0.0,29.82,72,0.00,1.0,Haze

In [16]:
filename = MrtRecommendationDependencies.get_dataset_path(f"{station}_weather_transformed.csv")
new_df.to_csv(filename, index=False)

In [23]:
weather_df = pd.read_csv(MrtRecommendationDependencies.get_dataset_path("weather_filtered.csv"), parse_dates=['datetime'], index_col="datetime")
for station in stations:
    print(f"{station} Started")
    transformed_df = pd.read_csv(MrtRecommendationDependencies.get_dataset_path(f"{station}_transformed.csv"), parse_dates=['datetime'], index_col="datetime")
    new_df = transformed_df.join(weather_df, how='right')
    new_df.fillna(0,inplace=True)
    filename = MrtRecommendationDependencies.get_dataset_path(f"{station}_weather_transformed.csv")
    new_df.to_csv(filename)
    print(f"{station} Ended")

north Started
north Ended
qave Started
qave Ended
kamuning Started
kamuning Ended
cubao Started
cubao Ended
santolan Started
santolan Ended
ortigas Started
ortigas Ended
shaw Started
shaw Ended
boni Started
boni Ended
guada Started
guada Ended
buendia Started
buendia Ended
ayala Started
ayala Ended
magallanes Started
magallanes Ended
taft Started
taft Ended

In [53]:
station = 'north'
transformed_df = pd.read_csv(MrtRecommendationDependencies.get_dataset_path(f"{station}_weather_transformed.csv"),parse_dates=["datetime"])

In [29]:
transformed_df.head()

,datetime,entry,exit,temp,humidity,rain_1h,rain_3h,weather_main
0,2018-07-01 00:00:00,0.0,0.0,27.89,84,0.21,0.0,Rain
1,2018-07-01 01:00:00,0.0,0.0,27.91,84,0.11,0.0,Rain
2,2018-07-01 02:00:00,0.0,0.0,29.51,72,0.00,1.0,Rain
3,2018-07-01 03:00:00,0.0,0.0,29.87,72,0.00,1.0,Rain
4,2018-07-01 04:00:00,631.0,0.0,29.82,72,0.00,1.0,Haze

In [54]:
train_updates = pd.read_csv(MrtRecommendationDependencies.get_dataset_path("train_status.csv"),parse_dates=['datetime'])

In [55]:
train_updates.head()

,datetime,num_train_running,num_train_operational,num_dalian_train_running,num_dalian_train_operational,headway
0,2018-07-01 19:00:00,12,13.0,0.0,0,8.5
1,2018-07-02 05:00:00,8,8.0,0.0,0,8.0
2,2018-07-03 05:00:00,7,7.0,0.0,0,8.0
3,2018-07-02 18:00:00,15,15.0,0.0,0,7.0
4,2018-07-04 05:00:00,9,9.0,0.0,0,8.0

In [34]:
train_updates_with_ridership = pd.DataFrame()

In [42]:
new_df = train_updates_with_ridership.append(train_updates,ignore_index=True)

In [44]:
new_df.append(train_updates,ignore_index=True,verify_integrity=False)
new_df.size

5448

In [56]:
temp_df = train_updates.merge(transformed_df, left_on="datetime", right_on="datetime", how="right")

In [57]:
temp_df.head()

,datetime,num_train_running,num_train_operational,num_dalian_train_running,num_dalian_train_operational,headway,entry,exit,temp,humidity,rain_1h,rain_3h,weather_main
0,2018-07-01 19:00:00,12.0,13.0,0.0,0.0,8.5,2410.0,3426.0,26.41,87,0.0,0.0,Haze
1,2018-07-02 05:00:00,8.0,8.0,0.0,0.0,8.0,2752.0,2.0,31.29,60,0.0,0.0,Haze
2,2018-07-03 05:00:00,7.0,7.0,0.0,0.0,8.0,2773.0,0.0,30.09,66,0.0,0.0,Haze
3,2018-07-02 18:00:00,15.0,15.0,0.0,0.0,7.0,2678.0,4303.0,27.23,84,0.0,0.0,Haze
4,2018-07-04 05:00:00,9.0,9.0,0.0,0.0,8.0,3013.0,3.0,31.24,60,0.0,0.0,Haze

In [62]:
temp_df[temp_df['headway']>0].shape

(904, 13)

In [77]:
train_updates_with_ridership = pd.DataFrame()
train_updates = pd.read_csv(MrtRecommendationDependencies.get_dataset_path("train_status.csv"),parse_dates=['datetime'])
for station in stations:
    transformed_df = pd.read_csv(MrtRecommendationDependencies.get_dataset_path(f"{station}_weather_transformed.csv"),parse_dates=["datetime"])
    temp_df = train_updates.merge(transformed_df, left_on="datetime", right_on="datetime", how="right")
    temp_df = temp_df[temp_df['headway']>0]
    train_updates_with_ridership = train_updates_with_ridership.append(temp_df,ignore_index=True)

In [78]:
train_updates_with_ridership.shape

(11752, 13)

In [79]:
train_updates_with_ridership.drop(['datetime', 'weather_main'], axis=1, inplace=True)

In [80]:
train_updates_with_ridership.head()

,num_train_running,num_train_operational,num_dalian_train_running,num_dalian_train_operational,headway,entry,exit,temp,humidity,rain_1h,rain_3h
0,12.0,13.0,0.0,0.0,8.5,2410.0,3426.0,26.41,87,0.0,0.0
1,8.0,8.0,0.0,0.0,8.0,2752.0,2.0,31.29,60,0.0,0.0
2,7.0,7.0,0.0,0.0,8.0,2773.0,0.0,30.09,66,0.0,0.0
3,15.0,15.0,0.0,0.0,7.0,2678.0,4303.0,27.23,84,0.0,0.0
4,9.0,9.0,0.0,0.0,8.0,3013.0,3.0,31.24,60,0.0,0.0

In [81]:
train_updates_with_ridership.to_csv(MrtRecommendationDependencies.get_dataset_path("train_updates_with_ridership.csv"), index=False)