In [25]:
import import_files as MrtRecommendationDependencies
from ridership_transformer import RidershipTransformer
import pandas as pd
from datetime import datetime
import pytz

In [2]:
weather_df = pd.read_csv(MrtRecommendationDependencies.get_dataset_path("weather.csv"), parse_dates=["dt"])

In [3]:
manila = pytz.timezone("Asia/Manila")

In [4]:
weather_df.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1514764800,2018-01-01 00:00:00 +0000 UTC,28800,Cubao,14.617766,121.057154,24.34,28.66,21.40,25.5,...,300,NaN,NaN,NaN,NaN,40,721,Haze,haze,50d
1,1514768400,2018-01-01 01:00:00 +0000 UTC,28800,Cubao,14.617766,121.057154,24.94,29.59,21.40,27.0,...,300,NaN,NaN,NaN,NaN,40,721,Haze,haze,50d
2,1514772000,2018-01-01 02:00:00 +0000 UTC,28800,Cubao,14.617766,121.057154,27.35,29.61,24.49,28.7,...,20,NaN,NaN,NaN,NaN,40,721,Haze,haze,50d
3,1514775600,2018-01-01 03:00:00 +0000 UTC,28800,Cubao,14.617766,121.057154,27.64,30.03,24.50,29.0,...,20,NaN,NaN,NaN,NaN,40,721,Haze,haze,50d
4,1514779200,2018-01-01 04:00:00 +0000 UTC,28800,Cubao,14.617766,121.057154,27.74,30.18,24.50,29.0,...,20,NaN,NaN,NaN,NaN,40,721,Haze,haze,50d

In [5]:
processed_weather_df =  weather_df.drop(weather_df.columns.difference(['dt','weather_main','temp','humidity','rain_1h', 'rain_3h']), 1)

In [6]:
processed_weather_df["datetime"] = processed_weather_df.apply(lambda x: datetime.utcfromtimestamp(int(x["dt"])).astimezone(pytz.timezone('Asia/Manila')), axis=1)

In [7]:
processed_weather_df.set_index("datetime",inplace=True)

In [8]:
processed_weather_df.drop("dt", axis=1, inplace=True)

In [11]:
filtered_weather = processed_weather_df

In [13]:
filtered_weather.head()

                            temp  humidity  rain_1h  rain_3h weather_main
datetime
2018-07-01 00:00:00+08:00  27.89        84     0.21      NaN         Rain
2018-07-01 01:00:00+08:00  27.91        84     0.11      NaN         Rain
2018-07-01 02:00:00+08:00  29.51        72      NaN      1.0         Rain
2018-07-01 02:00:00+08:00  29.51        72      NaN      1.0         Haze
2018-07-01 03:00:00+08:00  29.87        72      NaN      1.0         Rain

In [14]:
filtered_weather['datetime'] = filtered_weather.apply(lambda x: x.datetime.replace(tzinfo=None), axis=1)

In [37]:
filtered_weather[(filtered_weather.datetime >= datetime(2018,7,3,2,0,0)) & (filtered_weather.datetime <= datetime(2018,7,3,8,0,0))]

              datetime   temp  humidity  rain_1h  rain_3h weather_main
56 2018-07-03 02:00:00  30.78        69      NaN      6.0         Rain
57 2018-07-03 02:00:00  30.78        69      NaN      6.0         Haze
58 2018-07-03 03:00:00  30.86        69      NaN      6.0         Rain
59 2018-07-03 03:00:00  30.86        69      NaN      6.0         Haze
60 2018-07-03 04:00:00  30.85        69      NaN      6.0         Rain
61 2018-07-03 04:00:00  30.85        69      NaN      6.0         Haze
62 2018-07-03 05:00:00  30.09        66      NaN      NaN         Haze
63 2018-07-03 06:00:00  30.19        66      NaN      NaN         Haze
64 2018-07-03 07:00:00  30.04        66      NaN      NaN         Haze
65 2018-07-03 08:00:00  29.91        68      NaN      NaN         Haze

In [19]:
filtered_weather.drop(erase_indices,inplace=True)

In [ ]:
filtered_weather.head()

In [22]:
weather_file = MrtRecommendationDependencies.get_dataset_path("weather_processed.csv")

In [17]:
indices = filtered_weather.groupby('datetime').filter(lambda x: len(x) > 1).index.values
erase_indices = []
for index in indices:
    if index % 2 == 0 :
        erase_indices.append(index)

In [18]:
erase_indices

[176,
 178,
 180,
 384,
 386,
 388,
 434,
 436,
 438,
 516,
 518,
 520,
 524,
 526,
 528,
 552,
 554,
 556,
 698,
 700,
 702,
 918,
 920,
 922,
 1016,
 1018,
 1020,
 1260,
 1262,
 1264,
 1622,
 1624,
 1626,
 2136,
 2138,
 2140,
 2762,
 2764,
 2766,
 2904,
 2906,
 2908,
 3170,
 3172,
 3174,
 3486,
 3488,
 3490,
 3512,
 3514,
 3516,
 3636,
 3638,
 3640,
 3782,
 3784,
 3786,
 3888,
 3890,
 3892,
 3914,
 3916,
 3918,
 3996,
 3998,
 4000,
 4004,
 4006,
 4008,
 4020,
 4022,
 4024,
 4058,
 4060,
 4062,
 4068,
 4070,
 4072,
 4082,
 4084,
 4086,
 4170,
 4242,
 4244,
 4246,
 4294,
 4296,
 4298,
 4428,
 4430,
 4432,
 4438,
 4440,
 4442,
 4458,
 4460,
 4462,
 4492,
 4494,
 4496,
 4542,
 4544,
 4546,
 4576,
 4578,
 4580,
 4602,
 4604,
 4606,
 4618,
 4620,
 4622,
 4698,
 4700,
 4702,
 4780,
 4782,
 4784,
 4788,
 4790,
 4792,
 4828,
 4830,
 4832,
 4878,
 4880,
 4882,
 4894,
 4896,
 4898,
 4908,
 4910,
 4912,
 4924,
 4926,
 4928,
 4932,
 4934,
 4936,
 4966,
 4968,
 4970,
 4980,
 4982,
 4984,
 4998,
 5056,
 5058,
 5060,
 5318,
 5320,
 5322,
 5536,
 5538,
 5540,
 5558,
 5560,
 5562,
 5584,
 5586,
 5588,
 5624,
 5626,
 5628,
 5632,
 5634,
 5636,
 5654,
 5656,
 5658,
 5662,
 5664,
 5666,
 5696,
 5698,
 5700,
 5710,
 5712,
 5714,
 5720,
 5722,
 5724,
 5746,
 5748,
 5750,
 5792,
 5794,
 5796,
 5848,
 5850,
 5852,
 6008,
 6010,
 6012,
 6022,
 6024,
 6026,
 6038,
 6040,
 6042,
 6070,
 6072,
 6074,
 6080,
 6082,
 6084,
 6100,
 6102,
 6104,
 6116,
 6118,
 6120,
 6130,
 6132,
 6134,
 6140,
 6142,
 6144,
 6280,
 6282,
 6284,
 6314,
 6316,
 6318,
 6334,
 6336,
 6338,
 6362,
 6364,
 6366,
 6502,
 6504,
 6506,
 6536,
 6538,
 6540,
 6544,
 6546,
 6548,
 6560,
 6562,
 6564,
 6586,
 6588,
 6590,
 6620,
 6622,
 6624,
 6688,
 6690,
 6692,
 6698,
 6700,
 6702,
 6832,
 6834,
 6836,
 6986,
 6988,
 6990,
 7012,
 7014,
 7016,
 7040,
 7042,
 7044,
 7162,
 7164,
 7166,
 7214,
 7216,
 7218,
 7294,
 7296,
 7298,
 7538,
 7540,
 7542,
 7558,
 7560,
 7562,
 7634,
 7636,
 7638,
 8116,
 8118,
 8120,
 8378,
 8380,
 8382,
 8620,
 8622,
 8624,
 8792,
 8794,
 8796,
 8866,
 8868,
 8870,
 9026,
 9028,
 9030,
 9058,
 9060,
 9062,
 9064,
 9066,
 9078,
 9086,
 9088,
 10310,
 10312,
 10320,
 10336,
 10338,
 10340,
 10342,
 10344,
 10350,
 10366,
 10368,
 10370,
 10372,
 10374,
 10376,
 10380,
 10410,
 10412,
 10414,
 10416,
 10418,
 10420,
 10422,
 10424,
 10426,
 10428,
 10432,
 10434,
 10436,
 10438,
 10440,
 10442,
 10444,
 10446,
 10450,
 10452,
 10454,
 10456,
 10458,
 10460,
 10462,
 10464,
 10466,
 10468,
 10470,
 10472,
 10474,
 10476,
 10478,
 10480,
 10488,
 10490,
 10492,
 10494,
 10496,
 10498,
 10500,
 10502,
 10504,
 10506,
 10508,
 10510,
 10512,
 10514,
 10516,
 10530,
 10532,
 10534,
 10536,
 10542,
 10544,
 10546,
 10560,
 10562,
 10564,
 10566,
 10568,
 10570,
 10572,
 10574,
 10576,
 10578,
 10580,
 10582,
 10594,
 10596,
 10602,
 10604,
 10606,
 10608,
 10610,
 10612,
 10614,
 10616,
 10632,
 10654,
 10656,
 10658,
 10660,
 10668,
 10670,
 10672,
 10684,
 10686,
 10690,
 10694,
 10696,
 10698,
 10700,
 10702,
 10704,
 10706,
 10718,
 10720,
 10724,
 10730,
 10732,
 10734,
 10736,
 10738,
 10750,
 10752,
 10760,
 10762,
 10764,
 10766,
 10768,
 10782,
 10784,
 10786,
 10788,
 10790,
 10794,
 10796,
 10798,
 10802,
 10826,
 10828,
 10832,
 10852,
 10856,
 10868,
 10880,
 10882,
 10894,
 10896,
 10974,
 10976,
 10978,
 10980,
 10982,
 10984,
 10986,
 10998,
 11004,
 11006,
 11008,
 11010,
 11012,
 11014,
 11016,
 11018,
 11020,
 11058,
 11062,
 11072,
 11084,
 11086,
 11094,
 11096,
 11098,
 11100,
 11102,
 11104,
 11386,
 11388,
 11678,
 11826,
 11828,
 11830,
 11832,
 11834,
 11836,
 11838,
 12264,
 12300,
 12302,
 12304,
 12308,
 12310,
 12312,
 12324,
 12326,
 12328,
 12356,
 12358,
 12360,
 12388,
 12390,
 12392,
 12394,
 12488,
 12620,
 12624,
 12626,
 12628,
 12648,
 12672,
 12712,
 12714,
 12716,
 12722,
 12724,
 12726,
 12728,
 12748,
 12750,
 12752,
 12754,
 12778,
 12780,
 12782,
 12786,
 12788,
 12790,
 12808,
 12810,
 12812,
 12840,
 13130,
 13132,
 13134,
 13150,
 13152,
 13154,
 13238,
 13240,
 13242,
 13246,
 13260,
 13262,
 13264,
 13268,
 13270,
 13272,
 13274,
 13308,
 13310,
 13312,
 13378,
 13380,
 13410,
 13412,
 13414,
 13436,
 13438,
 13440,
 13464,
 13466,
 13468,
 13496,
 13498,
 13500,
 13512,
 13514,
 13516,
 13530,
 13532,
 13534,
 13536,
 13538,
 13556,
 13558,
 13560,
 13582,
 13584,
 13586,
 13592,
 13610,
 13612,
 13614,
 13638,
 13640,
 13642,
 13646,
 13648,
 13650,
 13652,
 13656,
 13658,
 13660,
 13702,
 13704,
 13706,
 13830,
 13832,
 13834,
 13850,
 13900,
 13902,
 13904,
 13952,
 13954,
 13956,
 13990,
 13992,
 13994,
 14030,
 14032,
 14034,
 14044,
 14046,
 14048,
 14050,
 14084,
 14086,
 14088,
 14118,
 14120,
 14122,
 14134,
 14136,
 14140,
 14148,
 14150,
 14152,
 14168,
 14176,
 14178,
 14180,
 14190,
 14192,
 14194,
 14200,
 14202,
 14204,
 14262,
 14316,
 14318,
 14320,
 14322,
 14346,
 14348,
 14350,
 14372,
 14374,
 14376,
 14398,
 14400,
 14444,
 14446,
 14448,
 14456,
 14458,
 14464,
 14476,
 14478,
 14506,
 14508,
 14510,
 14536,
 14540,
 14542,
 14544,
 14584,
 14586,
 14588,
 14610,
 14618,
 14620,
 14622,
 14628,
 14630,
 14632,
 14642,
 14644,
 14646,
 14656,
 14706,
 14722,
 14726,
 14730,
 14734,
 14742,
 14744,
 14746,
 14752,
 14836,
 14838,
 14840,
 14850,
 15030,
 15048,
 15050,
 15052,
 15090,
 15092,
 15094,
 15122,
 15142,
 15144,
 15146,
 15168,
 15266,
 15268,
 15270,
 15292,
 15294,
 15296,
 15308,
 15310,
 15312,
 15340,
 15342,
 15344,
 15362,
 15364,
 15366,
 15372,
 15508,
 15514,
 15518,
 15520,
 15522,
 15526,
 15528,
 15530,
 15532,
 15580,
 15604,
 15606,
 15608,
 15660,
 15662,
 15664,
 15726,
 15774,
 15792,
 15794,
 15796,
 15806,
 15808,
 15810,
 15882,
 15884,
 15886,
 15902,
 15904,
 15906,
 15912,
 15914,
 15916,
 15964,
 15982,
 15984,
 15986,
 15990,
 15992,
 15994,
 16054,
 16056,
 16058,
 16072,
 16082,
 16100,
 16112,
 16120,
 16122,
 16124,
 16148,
 16150,
 16152,
 16348,
 16350,
 16352,
 16370,
 16372,
 16374,
 16588,
 16590,
 16592,
 16616,
 16618,
 16620,
 16644,
 16668,
 16670,
 16672,
 16694,
 16696,
 16698,
 16770,
 16854,
 16856,
 16858,
 16972,
 16974,
 16976,
 16992,
 16994,
 16996,
 17020,
 17022,
 17024,
 17122,
 17124,
 17222,
 17350,
 17352,
 17354,
 17392,
 17414,
 17416,
 17418,
 17440,
 17442,
 17444,
 17516,
 17518,
 17520,
 17536,
 17538,
 17540,
 17714,
 17716,
 17718,
 18196,
 18198,
 18200,
 18206,
 18208,
 18210,
 21584,
 22260,
 22526,
 24468]

In [50]:
filtered_weather.groupby('datetime').filter(lambda x: len(x) > 1)

Empty DataFrame
Columns: [datetime, temp, humidity, rain_1h, rain_3h, weather_main]
Index: []

In [13]:
filtered_weather.reset_index(inplace=True)

In [57]:
filtered_weather.to_csv(weather_file,index=False)

In [15]:
filtered_weather['datetime'] = filtered_weather.apply(lambda x: x.datetime.replace(tzinfo=None), axis=1)

In [21]:
filtered_weather.fillna(0,inplace=True)

In [23]:
filtered_weather.to_csv(weather_file,index=False)

In [26]:
df = pd.read_csv(weather_file,parse_dates=['datetime'])

In [28]:
df.tail(20)

                 datetime   temp  humidity  rain_1h  rain_3h  weather_main
23620 2020-09-11 04:00:00  32.42        66      0.0      0.0        Clouds
23621 2020-09-11 05:00:00  32.54        70      0.0      0.0        Clouds
23622 2020-09-11 06:00:00  30.00        79      0.0      0.0  Thunderstorm
23623 2020-09-11 07:00:00  29.22        88      0.3      0.0          Rain
23624 2020-09-11 08:00:00  28.42        83      0.0      0.0        Clouds
23625 2020-09-11 09:00:00  28.43        88      0.0      0.0        Clouds
23626 2020-09-11 10:00:00  29.12        79      0.0      0.0        Clouds
23627 2020-09-11 11:00:00  28.53        79      0.0      0.0        Clouds
23628 2020-09-11 12:00:00  27.10        88      0.0      0.0  Thunderstorm
23629 2020-09-11 13:00:00  28.87        79      0.0      0.0        Clouds
23630 2020-09-11 14:00:00  28.73        79      0.0      0.0        Clouds
23631 2020-09-11 15:00:00  27.43        83      0.0      0.0        Clouds
23632 2020-09-11 16:00:00  27.13        86      0.0      0.0        Clouds
23633 2020-09-11 17:00:00  27.38        83      0.0      0.0        Clouds
23634 2020-09-11 18:00:00  27.34        83      0.0      0.0        Clouds
23635 2020-09-11 19:00:00  27.40        78      0.0      0.0        Clouds
23636 2020-09-11 20:00:00  27.33        78      0.0      0.0        Clouds
23637 2020-09-11 21:00:00  27.27        83      0.0      0.0        Clouds
23638 2020-09-11 22:00:00  26.91        88      0.0      0.0        Clouds
23639 2020-09-11 23:00:00  27.65        83      0.0      0.0        Clouds